# 1. 데이터 불러오기

In [7]:
## 필요한 패키지를 불러옵니다.
import os
import pandas as pd

In [8]:
## 경로설정을 해줍니다.
# os.chdir(r'C:\Users\PC\Documents\강의최종본\data\앙상블')
## 위의 경로설정은 제 컴퓨터를 기준으로 입력한 것으로 각자 데이터를 저장한 위치에 맞게 바꿔주시기 바랍니다.

data = pd.read_csv("data/bank-additional-full.csv", sep = ';')
## 위의 실습 데이터는 러닝스푼즈 홈페이지에서도 다운받으실 수 있습니다.

In [9]:
## 불러온 데이터의 상위 5개 행을 봅니다.
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [12]:
# 데이터 형태 보기  object 는 범주형
data.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [13]:
## 카테고리형 변수를 수치화시키는 one hot encoding이란 방법론을 pd.get_dummies란 함수를 통해 실행시킵니다.
data = pd.get_dummies(data,columns=['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome'])

In [14]:
data.dtypes

age                     int64
duration                int64
campaign                int64
pdays                   int64
previous                int64
                        ...
day_of_week_tue         uint8
day_of_week_wed         uint8
poutcome_failure        uint8
poutcome_nonexistent    uint8
poutcome_success        uint8
Length: 64, dtype: object

In [15]:
## 아이디를 생성합니다.
data['id']=range(len(data))

In [16]:
data

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,id
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,1
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,2
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,3
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,1,0,41183
41184,46,383,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,1,0,41184
41185,56,189,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,1,0,41185
41186,44,442,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,0,1,0,41186
41187,74,239,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,...,0,1,0,0,0,0,1,0,0,41187

In [17]:
## data 중에서 30000개를 랜덤으로 추출해 train 데이터로 지정합니다.
train = data.sample(30000,replace=False,random_state=2020).reset_index().drop(['index'],axis=1)

In [18]:
## 추출되지 않은 나머지를 test 데이터로 지정합니다.
test = data.loc[ ~data['id'].isin(train['id']) ].reset_index().drop(['index'],axis=1)

# 2. 랜덤포레스트 실습

<strong>특징</strong>

1. 해석이 어렵다.
2. 매우 느리다.
3. 의사결정나무보다 더 객관적인 변수 중요도를 뽑아낼 수 있다.


<strong>파라미터</strong>

1. n_estimators : 몇 개의 의사결정나무를 만들 것인지 ( 평균적으로 100~500개로 하지만 많으면 좋다 )
2. max_depth : 각 의사결정나무의 최대깊이
3. min_samples_split : 각 의사결정나무에서 각 노드의 최소 샘플 수

<strong>랜포 학습시키기</strong>

In [22]:
## 의사결정나무를 위한 패키지를 임포트합니다.
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=500, min_samples_split= 10)

In [24]:
## 학습에 활용할 input 변수를 지정합니다.
input_var = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
        'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'education_basic.4y', 'education_basic.6y',
       'education_basic.9y', 'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'education_unknown', 'default_no', 'default_unknown', 'default_yes',
       'housing_no', 'housing_unknown', 'housing_yes', 'loan_no',
       'loan_unknown', 'loan_yes', 'contact_cellular', 'contact_telephone',
       'month_apr', 'month_aug', 'month_dec', 'month_jul', 'month_jun',
       'month_mar', 'month_may', 'month_nov', 'month_oct', 'month_sep',
       'day_of_week_fri', 'day_of_week_mon', 'day_of_week_thu',
       'day_of_week_tue', 'day_of_week_wed', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [25]:
## 의사결정나무 모델을 train 데이터에서 학습시킵니다.
rf.fit(train[input_var],train['y'])

RandomForestClassifier(min_samples_split=10, n_estimators=500)

In [71]:
## 예측을 진행합니다.
predictions = rf.predict(test[input_var])

In [28]:
## 정확도를 살펴봅니다.
(pd.Series(predictions)==test['y']).mean()

0.9124955309259921

# 의사 결정나무로 했을때 정확도 보기

In [32]:
from sklearn.tree import DecisionTreeClassifier

df = DecisionTreeClassifier(min_samples_split=10)

In [38]:
df.fit(train[input_var], train['y'])

test['pred'] = df.predict(test[input_var])

In [39]:
(test['pred']== test['y']).mean()

0.8982838755809797

<strong>변수 중요도 뽑아내기(추후 변수중요도 강의에서 다룰 예정)</strong>

변수중요도를 뽑아냅니다.<br>
<strong>해당 사항은 추후 '변수중요도'를 다루는 강의에서 다룰 것이기에 지금은 넘어가셔도 좋습니다.</strong>

In [2]:
# feature_imp = rf.feature_importances_
# imp_df = pd.DataFrame({'var':input_var,
#                        'imp':feature_imp})

# imp_df.sort_values(['imp'],ascending=False)